<p id="notice"><%= notice %></p>

<h1>Página dos Clientes</h1>

<div class="center jumbotron">
</p>
<%= link_to 'Lista de Cuidadores', lista_cuidadores_path %>
</p>
  </div>

</p>
<%= link_to 'Voltar', root_path %>
</p>
