<p id="notice"><%= notice %></p>

<h1>Instruções</h1>
<p>
<h2><td>Se você já for cadastrado é só clicar em 'entrar'<td></h2>
</p>
<p>
<h2><td>Se quiser conhecer o site melhor clique em  'sobre' no rodapé da página <td></h2>
</p>
<p>
<h2><td>Quer fazer parte da família? Clique em 'Inscrever-se'<td></h2>
</p>

<p>
<%= link_to 'Voltar', root_path %>
</p>
