<div class="center jumbotron">
  <h1>Welcome to the Patinhas Carinhosas</h1>

  <h2>
    This is the home page for the
    Patinhas Carinhosas
  </h2>

  <%= link_to "Sign up now!", new_usuario_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
