<%= form_with(model: lista_cuidadore, local: true) do |form| %>
  <% if lista_cuidadore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lista_cuidadore.errors.count, "error") %> prohibited this lista_cuidadore from being saved:</h2>

      <ul>
      <% lista_cuidadore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Animal_de_preferencia %>
    <%= form.text_field :Animal_de_preferencia, id: :lista_cuidadore_Animal_de_preferencia %>
  </div>

  <div class="field">
    <%= form.label :Tipo_de_atendimento %>
    <%= form.text_field :Tipo_de_atendimento, id: :lista_cuidadore_Tipo_de_atendimento %>
  </div>

  <div class="field">
    <%= form.label :Data_disponivel %>
    <%= form.datetime_select :Data_disponivel, id: :lista_cuidadore_Data_disponivel %>
  </div>

  <div class="field">
    <%= form.label :Cidade %>
    <%= form.text_field :Cidade, id: :lista_cuidadore_Cidade %>
  </div>

  <div class="field">
    <%= form.label :Estado %>
    <%= form.text_field :Estado, id: :lista_cuidadore_Estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
