<p id="notice"><%= notice %></p>

<h1>Lista de Cuidadores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <td><th>Preferência</th></td>
      <td><th>Tipo</th></td>
      <td><th>Data</th></td>
      <td><th>Cidade</th></td>
      <td><th>Estado</th></td>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @lista_cuidadores.each do |lista_cuidadore| %>
      <tr>
        <td><%= 'nome cadastrado' %></td>
        <td><%= lista_cuidadore.Animal_de_preferencia %></td>
        <td><%= lista_cuidadore.Tipo_de_atendimento %></td>
        <td><%= lista_cuidadore.Data_disponivel %></td>
        <td><%= lista_cuidadore.Cidade %></td>
        <td><%= lista_cuidadore.Estado %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'Voltar', pag_clientes_path %>
