<p id="notice"><%= notice %></p>

<p>
  <strong>Animal de preferencia:</strong>
  <%= @lista_cuidadore.Animal_de_preferencia %>
</p>

<p>
  <strong>Tipo de atendimento:</strong>
  <%= @lista_cuidadore.Tipo_de_atendimento %>
</p>

<p>
  <strong>Data disponivel:</strong>
  <%= @lista_cuidadore.Data_disponivel %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @lista_cuidadore.Cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @lista_cuidadore.Estado %>
</p>

<%= link_to 'Alterar', edit_lista_cuidadore_path(@lista_cuidadore) %> |
<%= link_to 'Voltar', pag_cuidadores_path %>
