<p id="notice"><%= notice %></p>

<h1>Página dos Cuidadores</h1>

<h2>
  Você quer ajudar as pessoas ? Ajude varias, seja um cuidador!
</h2>

<div class="center jumbotron">
<td><%= link_to 'Entrar na Lista', new_lista_cuidadore_path %>
  </div>
<p>
<%= link_to 'Voltar', root_path %>
</p>
