<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <p>
      <th>Nome</th>
    </p>
      <th>Idade</th>
      <th>Email</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.idade %></td>
        <td><%= user.email %></td>
        <td><%= user.cidade %></td>
        <td><%= user.estado %></td>
        <p>
        <td><%= link_to 'Mostrar', user %></td>
      </p>
      <p>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
      </p>
      <p>
        <td><%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuario', new_user_path %>
