<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (@user) do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">

      <%= f.label :nome %>
      <%= f.text_field :nome  %>

      <%= f.label :idade %>
      <%= f.text_field :idade  %>

      <%= f.label :email %>
      <%= f.email_field :email  %>

      <%= f.label :cidade %>
      <%= f.text_field :cidade  %>

      <%= f.label :estado %>
      <%= f.text_field :estado  %>

      <%= f.label :status%>
      <%= f.text_field :ser  %>

      <%= f.label :senha %>
      <%= f.password_field :password  %>

      <%= f.label :password_confirmation, "Confirme a senha" %>
      <%= f.password_field :password_confirmation  %>

      <%= f.submit "Criar minha conta", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

<%= link_to 'Voltar', login_path %>
