<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @user.idade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @user.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @user.estado %>
</p>

<p>
<%= link_to 'Editar', edit_user_path(@user) %> |
</p>
<p>
<%= link_to 'Voltar', users_path %>
</p>
