<div class="center jumbotron">
  <h1>Seja Bem-Vindo ao Patinhas Carinhosas</h1>

  <h2>
    Esta é a página inicial do site
    Patinhas Carinhosas
  </h2>

  <%= link_to "Cadastre-se agora!", new_user_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("dog21.jpg", alt: "cachorrinhos") %>
