<p id="notice"><%= notice %></p>

<h1>Página Inicial</h1>
<br>
<td>Bem-vindo ao (nome do site)</td>
<br>
<br>
<td><%= link_to 'Cadastro de Usuários',usuarios_path %></td>
<br>
<td><%= link_to 'Página dos cuidadores',pag_cuidadores_path %></td>
<br>
<td><%= link_to 'Página dos clientes',pag_clientes_path %></td>
<br>
<td><%= link_to 'Instruções', instrucoes_path %></td>
<br>
<td><%= link_to 'Sobre', sobre_index_path %>
