<div class="center jumbotron">
  <h1>Sobre</h1>

  <h1>
    O Patinhas Carinhosas surgiu de um sonho...
  </h1>
  <p>
    <h2>
      O sonho de poder ajudar as pessoas e seus animais de estimação.
    </h2>
    <h2>
      Nosso objetivo e poder proporcionar um site em que donos de animais de estimação
      possam encontrar pessoas dispostas a cuidar de seus bichinhos enquanto viajam
      ou fazem outras atividades.
    </h2>
    <h2> No site é possível se cadastrar para ser um cuidador ou para que cuidem de seu bichinho.</h2>
    <p>
      <h2>
        Para começar é só clicar no 'Inscrever-se' no cabeçalho da pagina.</h2>
      </p>
  </p>


</div>
