<p id="notice"><%= notice %></p>

<h1>Login Clientes Pgs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @login_clientes_pgs.each do |login_clientes_pg| %>
      <tr>
        <td><%= link_to 'Mostrar', login_clientes_pg %></td>
        <td><%= link_to 'Alterar', edit_login_clientes_pg_path(login_clientes_pg) %></td>
        <td><%= link_to 'Destruir', login_clientes_pg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo login', new_login_clientes_pg_path %>
