

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :nome %>
      <%= f.text_field :nome  %>

      <%= f.label :email %>
      <%= f.email_field :email  %>

      <%= f.label :password %>
      <%= f.password_field :password  %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation  %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

<%= link_to 'Show', @usuario %>
