<%= form_with(model: login_cuidadores_pg, local: true) do |form| %>
  <% if login_cuidadores_pg.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(login_cuidadores_pg.errors.count, "error") %> prohibited this login_cuidadores_pg from being saved:</h2>

        <ul>
      <% login_cuidadores_pg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
