<h1>Editing Login Cuidadores Pg</h1>

<%= render 'form', login_cuidadores_pg: @login_cuidadores_pg %>

<%= link_to 'Mostrar', @login_cuidadores_pg %> |
<%= link_to 'Voltar', login_cuidadores_pgs_path %>
