<h1>Login de Cuidadores</h1>
<%= form_for :login_cuidadores_pg, url: sign_in_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :senha, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<p>Novo aqui? <%= link_to "Cadastre-se agora!", new_user_path %></p>
<% end %>

<%= link_to 'Voltar', root_path %>
