<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Patinhas Carinhosas", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio",   root_path %></li>
        <li><%= link_to "Ajuda",   ajuda_path %></li>
        

        <li><%= link_to "Entrar", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
